
@media only screen and (max-width:800px){
    .new-products{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
}

@media only screen and (max-width:700px){
    .new-products{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
      .shop-now{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
      
}












